@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&family=Roboto+Condensed&family=Ubuntu&display=swap');


body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover{
    color: #00E8E8 !important;
}

.active .nav-link{
    color: #00E8E8 !important;
}


.site-content{
    background-image: url('C:/LEARNING/WEB/Dev Project/images/pexels-cup-of-couple-8473904.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.website-title, .website-titlepara{
    color: white;
    font-family: 'Righteous';
}
.website-title{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}

.website-titlepara{
    font-size: 14px;
    padding-left: 15%;
}
.site-btn1{
    margin-left: 20%;
    background-color: black;
    color: white;
}
.site-btn2{
    background-color: white;
}

.site-btn1, .site-btn2  {
    margin-top: 5%;
    margin-bottom: 40%;
}


/* Section 1 */

.section-1 .heading-1 {
    margin-top: 8%;
}
.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}
.section-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text, .para-1{
    color: rgba(0, 0, 0, 0.59);
}

.section-1 {
    margin-bottom: 8%;
}

.card{
    width: 20rem;
}


/* section-2 */

.section-2 .container-fluid {
    background-image: url('C:/LEARNING/WEB/Dev Project/images/pexels-cup-of-couple-8473904.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1{
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    width: 80%;
    color: whitesmoke;
}

.section-2 .para{
    width: 80%;
    font-family: 'Ubuntu';
    color: whitesmoke;
    margin-bottom: 7%;
}

.section-2 .btn{
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}


/* Section-3 */

.section-3 {
    margin-top: 6%;
}

.section-3 i{
    color: #00E8E8;
}
.section-3 p{
    color: rgba(0, 0, 0, 0.59);
}


/* Sectio-4 */

.section-4 {
    margin-top: 8%;
}

.section-4 .row .col-md-7, .col-md-5{
    margin: 10% 0;
}

.section-4 a{
    color: lightseagreen;
    font-size: 40px;
    text-decoration: none;
}

.section-4 .para-1{
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}


/* footer */

.social i{
    color: #EF5651;
    font-size: 20px;
}

#email {
    width: 40%;
}


@media screen and (max-width: 768px){
    .section-1 .card{
        width: 14rem;
    }

    .section-4 .col-md-7 img{
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    .site-content .website-title{
        font-size: 30px;
        padding-left: 15%;
    }

    .site-content .site-btn2{
        display: none;
    }

    .site-content .site-btn1{
        margin-left: 15%;
    }

    .section-1 .heading-1, .heading-2{
        font-size: 25px;
    }
    .section-1 .col-md-4 {
        padding: 5%;
        margin-left: 8%;
    }

    .section-1 .card{
        width: 15rem;
    }

    .section-4 .col-md-5 {
        padding: 0% 15%;
    }

    footer input[type="button"]{
        margin-top: 5%;
    }

}


